<h3 id="nonsupportBusinessType" style="color: #6b6b6c;text-align: center;display: none;">该类型暂不支持定时任务！</h3>
<form class="layui-form" lay-filter="addTimingTaskCond">
    <div class="layui-form-item">
        <label class="layui-form-label">业务类型：</label>
        <div class="layui-input-block">
            <select id="addTimingBusinessType" name="addTimingBusinessType" lay-filter="addTimingBusinessType" lay-search></select>
        </div>
    </div>
    <div id="addTimingBusinessFromDataContent" style="display: block;">
        <div class="layui-form-item">
            <label class="layui-form-label">账号分组：</label>
            <div class="layui-input-block">
                <select id="addTimingTaskAccountFromId" name="addTimingTaskAccountFromId" lay-filter="addTimingTaskAccountFromId" lay-search></select>
            </div>
        </div>
<!--        <div id="timingBusinessAddFriend" style="display: none">
            <div class="layui-form-item">
                <label class="layui-form-label">业务参数：</label>
                <div class="layui-input-block">
                    <div id="timingBusinessAddFriendParam"></div>
                </div>
            </div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">执行时间(周)：</label>
            <div class="layui-input-block">
                <div id="executeTimeWeek"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">执行时间(日)：</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="executeTimeDay" name="executeTimeDay" placeholder="任务处理时间">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="addTimingTaskSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary" onclick="clearAddTimingTaskCond()">重置</button>
            </div>
        </div>
    </div>
</form>
<script>
    var addTimingTaskAccountFromId;
    var executeTimeWeek;
    //var timingBusinessAddFriendParam;
    var yesBusinessTypeArr = [2,7,9];

    $(function(){
        laydate.render({
            elem: '#executeTimeDay',
            type: 'time'
        });
        var businessTypeHtml = "";
        for(var i=1;i<typeName.length;i++){
            if(yesBusinessTypeArr.indexOf(i) != -1){
                businessTypeHtml += '<option value="'+i+'">'+typeName[i]+'</option>';
            }
        }
        $('#addTimingBusinessType').html(businessTypeHtml);
        executeTimeWeek = xmSelect.render({
            el: '#executeTimeWeek',
            language: 'zn',
            name: 'executeTimeWeek',
            toolbar: {
                show: true,
                list: [ 'ALL', 'CLEAR', 'REVERSE' ]
            },
            data: [
                {name: '周一', value: 2},
                {name: '周二', value: 3},
                {name: '周三', value: 4},
                {name: '周四', value: 5},
                {name: '周五', value: 6},
                {name: '周六', value: 7},
                {name: '周日', value: 1}
            ]
        });
        $.ajax({
            datatype:'json',
            url:"http://localhost:8080/wechat-model-controller/comm/getAllTbFromData",
            type:'post',
            async: false,
            success:function(obj){
                var html = "<option value=''>无指定分组</option>";
                //var data = [];
                for(i in obj){
                    //data.push({name:obj[i].from_name,value:obj[i].id})
                    html += "<option value='"+obj[i].id+"'>"+obj[i].from_name+"</option>";
                }
                // addTimingTaskAccountFromId = xmSelect.render({
                //     el: '#addTimingTaskAccountFromId',
                //     language: 'zn',
                //     filterable: true,
                //     name: 'addTimingTaskAccountFromId',
                //     toolbar: {
                //         show: true,
                //         list: [ 'ALL', 'CLEAR', 'REVERSE' ]
                //     },
                //     data:data
                // });
                $('#addTimingTaskAccountFromId').html(html);
            }
        });
        form.render();
    })

    function isBusinessType(state){
        if(state == 1){
            $('#nonsupportBusinessType').css({
                display:'none'
            })
            $('#addTimingBusinessFromDataContent').css({
                display:'block'
            })
        }else{
            $('#nonsupportBusinessType').css({
                display:'block'
            })
            $('#addTimingBusinessFromDataContent').css({
                display:'none'
            })
        }
    }

    form.on('select(addTimingBusinessType)', function(data){
        var dataVal = parseInt(data.value);
        if(yesBusinessTypeArr.indexOf(dataVal) != -1){
            isBusinessType(1);
        }else{
            isBusinessType(0);
        }
        // switch (dataVal) {
        //     case 1:
        //         $('#timingBusinessAddFriend').css('display','block');
        //         break;
        //     case 2:
        //         break;
        //     case 3:
        //         break;
        //     case 4:
        //         break;
        //     case 5:
        //         break;
        //     default:
        //         break;
        // }
        // timingBusinessAddFriendParam = xmSelect.render({
        //     el: '#timingBusinessAddFriendParam',
        //     language: 'zn',
        //     filterable: true,
        //     name: 'addFriendParam',
        //     toolbar: {
        //         show: true,
        //         list: [ 'ALL', 'CLEAR', 'REVERSE' ]
        //     },
        //     data: [
        //         {name: '周一', value: 2},
        //         {name: '周二', value: 3},
        //         {name: '周三', value: 4},
        //         {name: '周四', value: 5},
        //         {name: '周五', value: 6},
        //         {name: '周六', value: 7},
        //         {name: '周日', value: 1}
        //     ]
        // });
    });

    // 监听表单提交
    form.on('submit(addTimingTaskSubmit)', function(data){
        if(yesBusinessTypeArr.indexOf(parseInt(data.field.addTimingBusinessType)) == -1){
            layer.tips('无效业务类型！', data.elem, {
                tips: [1, '#f44336d4'],
                time: 3000
            });
            return false;
        }
        if(!data.field.addTimingTaskAccountFromId){
            layer.tips('未选择账号分组！', data.elem, {
                tips: [1, '#f44336d4'],
                time: 3000
            });
            return false;
        }
        if(!data.field.executeTimeWeek){
            layer.tips('未选择执行时间（周）！', data.elem, {
                tips: [1, '#f44336d4'],
                time: 3000
            });
            return false;
        }
        if(!data.field.executeTimeDay){
            layer.tips('未选择执行时间（天）！', data.elem, {
                tips: [1, '#f44336d4'],
                time: 3000
            });
            return false;
        }
        layer.load(2); // 开启loading
        $.ajax({
            datatype:'json',
            url:"http://localhost:8080/wechat-model-controller/business_timing_admin/addTimingBusinessData",
            data:data.field,
            traditional:true, // 防止深度序列化参数
            type:'post',
            success:function(obj){
                if(obj.code == 1)
                    layerzk.open(windowObj,{bakcgroundColor:'#009688',msg:obj.message,icoCode:'&#xe605;'},3000);
                else
                    layerzk.open(windowObj,{bakcgroundColor:'#f44336d4',msg:obj.message,icoCode:'&#xe67e;'},5000);
                layer.closeAll('loading'); //关闭loading
            }
        });
        return false;
    });

    // 清空表单数据
    function clearAddTimingTaskCond(){
        addTimingTaskAccountFromId.setValue([]);
        executeTimeWeek.setValue([]);
    }
</script>