<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">主题名：</label>
        <div class="layui-input-block">
            <input type="text" name="themeName" required  lay-verify="required" placeholder="请输入对话主题名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="addDialogueThemeSubmit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    form.on('submit(addDialogueThemeSubmit)', function(data){
        $.ajax({
            datatype:'json',
            url:"http://localhost:8080/wechat-model-controller/dialogue_admin/addDialogueData",
            data:data.field,
            type:'post',
            success:function(obj){
                if(obj.code == 1)
                    layerzk.open(windowObj,{bakcgroundColor:'#009688',msg:obj.message,icoCode:'&#xe605;'},3000);
                else
                    layerzk.open(windowObj,{bakcgroundColor:'#f44336d4',msg:obj.message,icoCode:'&#xe67e;'},3000);
                clickLayuiTableBtn('dialogueThemeAdminTable');
            }
        });
        return false;
    });
</script>