<form class="layui-form" lay-filter="sendGroupMessageForm">
    <div class="layui-form-item">
        <label class="layui-form-label" style="padding-left: 0;text-align: unset;color: #1E9FFF;width: auto;"></label>
        <div class="layui-input-block" style="margin-left: 0;">
            <textarea name="msg" required lay-verify="required" autofocus="autofocus" cols="50" rows="20" placeholder="请输入要发送的群消息" class="layui-textarea" style="height: 100px;"></textarea>
        </div>
    </div>
</form>
