<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="layui-row">
        <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" onclick="addUser()"><i class="iconfont">&#xe782;</i>添加用户</button>
        <button type="button" class="layui-btn layui-btn-danger layui-btn-sm" onclick="delUser(this)"><i class="iconfont">&#xe642;</i>删除用户</button>
    </div>
    <div class="layui-row">
        <table lay-filter="userAdminTable" id="userAdminTable"></table>
    </div>
    <script>
        $(function () {
            loadUserAdminTable();
        })

        function loadUserAdminTable(){
            $.ajax({
                datatype:'json',
                url:"http://localhost:8080/wechat-model-controller/user_admin/findAllRole",
                type:'post',
                success:function(roleList){
                    table.render({
                        elem: '#userAdminTable'
                        ,height: 600
                        ,method:'post'
                        ,url: 'http://localhost:8080/wechat-model-controller/user_admin/findAllUserTable'
                        ,page: true
                        ,height: '700px'
                        ,limit:20
                        ,cols: [[
                            {width:80,type:"checkbox"}
                            ,{field: 'id', title: 'ID', width:80, sort: true,hide: true}
                            ,{field: 'ucid', title: 'UCID', width:80, sort: true,hide: true}
                            ,{field: 'username', title: '用户名', width:120}
                            ,{field: 'phone', title: '手机号', width:120}
                            ,{field: 'email', title: '邮箱', width:200}
                                ,{field: 'role_name', title: '角色', width:120,  templet:function (o) {
                                    var options = '';
                                    for(i in roleList){
                                        if(roleList[i].id == o.role_id){
                                            options += '<option value="'+roleList[i].id+'" selected>'+roleList[i].role_name+'</option>'
                                        }else{
                                            options += '<option value="'+roleList[i].id+'">'+roleList[i].role_name+'</option>'
                                        }
                                    }
                                    return '<form class="layui-form"><select name="userRole" lay-filter="updUserRole" lay-search data-id="'+o.id+'">'+ options +'</select></form>';
                                }}
                            ,{field: 'create_time', title: '注册时间', width:160, sort: true}
                            ,{field: 'update_time', title: '修改时间', width:160, sort: true}
                            ,{field: 'login_time', title: '登录时间', width:160, sort: true}
                            ,{field: 'add_system_friend_interval', title: '添加好友间隔', width:120, edit:'text'}
                            ,{field: 'send_message_interval', title: '发送消息间隔', width:120, edit:'text'}
                            ,{field: 'send_friend_circle_interval', title: '发送朋友圈间隔', width:120, edit:'text'}
                            ,{field: 'disabled', title: '禁用', width:120, templet:function (o) {
                                    return o.disabled==1?'<input type="checkbox" name="userAdminDisabledOnOff" lay-filter="userAdminDisabledOnOff" lay-skin="switch" data-id="'+o.id+'" lay-text="已禁用|未禁用" checked>':'<input type="checkbox" name="userAdminDisabledOnOff" lay-filter="userAdminDisabledOnOff" lay-skin="switch" data-id="'+o.id+'" lay-text="已禁用|未禁用">';
                                }}
                            ,{field: 'remark', title: '备注', width:120}
                        ]]
                    });
                }
            });
        }

        // 监听表格内文本编辑框修改
        table.on('edit(userAdminTable)', function(obj){
            var param = {
                'itemName':obj.field,
                'itemValue':obj.value,
                'id':obj.data.id
            };
            $.ajax({
                datatype:'json',
                url:"http://localhost:8080/wechat-model-controller/user_admin/updUserConfigItem",
                data:param,
                type:'post',
                success:function(obj){
                    layer.msg(obj.message);
                    clickLayuiTableBtn('userAdminTable');
                }
            });
        });

        // 监听表格内用户角色下拉选修改
        form.on('select(updUserRole)', function(data){
            var param = "userId="+data.elem.dataset.id+"&roleId="+data.value;
            $.ajax({
                datatype:'json',
                url:"http://localhost:8080/wechat-model-controller/user_admin/updUserRole",
                data:param,
                type:'post',
                success:function(obj){
                    if(obj.code == 1)
                        layer.msg(obj.message);
                    clickLayuiTableBtn('userAdminTable');
                }
            });
        });

        // 监听用户禁用开关
        form.on('switch(userAdminDisabledOnOff)', function(data){
            $.ajax({
                datatype:'json',
                url:"http://localhost:8080/wechat-model-controller/user_admin/updateUserDisabledOnOff",
                data:'id='+data.elem.dataset.id+'&switchVal='+(data.elem.checked?1:0),
                type:'post',
                success:function(obj){
                    if(obj.code == 1)
                        layer.msg(obj.message);
                }
            });
        });

        function delUser(i){
            var checkStatus = table.checkStatus('userAdminTable');
            if(checkStatus.data.length <= 0){
                layer.tips('未勾选数据！', i, {
                    tips: [1, '#3595CC'],
                    time: 4000
                });
            }else{
                layer.open({
                    title: '<i class="iconfont" style="color:#F44336">&#xe67e;</i>删除用户',
                    anim: mathLayuiAnim(),
                    btn: ['确认'],
                    yes: function(index, layero){
                        var param = '';
                        checkStatus.data.forEach(function (val) {
                            param += 'id='+val.id+'&';
                        });
                        $.ajax({
                            datatype:'json',
                            url:"http://localhost:8080/wechat-model-controller/user_admin/delUser",
                            data: param,
                            type:'post',
                            success:function(obj){
                                if(obj.code == 1)
                                    layerzk.open(windowObj,{bakcgroundColor:'#009688',msg:obj.message,icoCode:'&#xe605;'},3000);
                                else
                                    layerzk.open(windowObj,{bakcgroundColor:'#f44336d4',msg:obj.message,icoCode:'&#xe67e;'});
                                layer.close(index);
                                clickLayuiTableBtn('userAdminTable');
                            }
                        });
                    },
                    success: function(layero, index){
                        layero[0].children[1].style.textAlign = 'center';
                    },
                    shadeClose: true,
                    content: '是否确认删除选中用户？'
                });
            }
        }

        function addUser(){
            $.ajax({
                datatype:'html',
                url:"/add_user",
                type:'get',
                success:function(obj){
                    layer.open({
                        title: '添加用户',
                        anim: mathLayuiAnim(),
                        skin: 'layerzk-normal',
                        area:'600px',
                        btn: false,
                        shadeClose: true,
                        content: obj,
                    });
                }
            });
        }

        form.on('submit(addUserSubmit)', function(data){
            $.ajax({
                datatype:'json',
                url:"http://localhost:8080/wechat-model-controller/user_admin/addUser",
                data:data.field,
                type:'post',
                success:function(obj){
                    if(obj.code == 1)
                        layerzk.open(windowObj,{bakcgroundColor:'#009688',msg:obj.message,icoCode:'&#xe605;'},3000);
                    clickLayuiTableBtn('userAdminTable');
                }
            });
            return false;
        });
    </script>
</body>
</html>