<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="layui-row layui-col-space5">
        <form class="layui-form layui-row layui-col-space3" lay-filter="wechatReadAdminScreeCond" style="max-height: 200px;overflow: visible;">
            <div class="layui-col-md1 layui-col-sm6 layui-col-xs12">
                <input class="layui-input" type="text" name="title" placeholder="文章标题匹配" autocomplete="off">
            </div>
            <div class="layui-col-md1 layui-col-sm6 layui-col-xs12">
                <input class="layui-input" type="text" name="readUrl" placeholder="文章链接匹配" autocomplete="off">
            </div>
            <div class="layui-col-md1 layui-col-sm6 layui-col-xs12">
                <input class="layui-input" type="text" name="remark" placeholder="备注匹配" autocomplete="off">
            </div>
            <div class="layui-col-md1 layui-col-sm6 layui-col-xs12">
                <input class="layui-input" type="text" name="clientName" placeholder="客户名称" autocomplete="off">
            </div>
            <div class="layui-col-md1 layui-col-sm6 layui-col-xs12">
                <select name="dataType">
                    <option value="">数据类型</option>
                    <option value="1">系统</option>
                    <option value="2">外部</option>
                </select>
            </div>
        </form>
    </div>
    <div class="layui-row">
        <div class="layui-btn-group" style="line-height: 35px;">
            <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" onclick="loadWechatReadAdminTable()"><i class="iconfont">&#xe6f7;</i>查询</button>
            <a href="http://localhost:3000/static/txt_template/importReadArticleTemplate.txt" class="layui-btn layui-btn-primary layui-btn-sm" target="_blank" download="导入微信阅读文章数据模板.txt"><i class="iconfont">&#xe889;</i>导入模板</a>
            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="selectWechatReadFile"><i class="iconfont">&#xe6dd;</i><span id="selectWechatReadFileTitle">选择文件</span></button>
            <button type="button" class="layui-btn layui-btn-normal layui-btn-sm layui-btn-disabled" onclick="importWechatRead()" disabled id="resolverImportWechatReadFile"><i class="iconfont">&#xe6dd;</i>解析导入文件</button>
            <!--<button type="button" class="layui-btn layui-btn-sm" onclick="addWechatReadTask()"><i class="iconfont"></i>添加阅读任务</button>-->
            <button type="button" class="layui-btn layui-btn-danger layui-btn-sm" onclick="delWechatRead(this)"><i class="iconfont">&#xe642;</i>删除</button>
        </div>
    </div>
    <div class="layui-row layui-col-space5">
        <div class="layui-col-md12">
            <table lay-filter="wechatReadAdminTable" id="wechatReadAdminTable"></table>
        </div>
    </div>
    <script>
        var wechatReadUpLoad = null;
        $(function () {
            wechatReadUpLoad = upLoad.render({
                elem:'#selectWechatReadFile',
                url:'http://localhost:8080/wechat-model-controller/comm/upLoadFile',
                headers:{"Authorization":isNull(localStorage.wechatToken)},
                acceptMime:'text/plain',
                exts:'txt',
                before:function(obj){
                    layer.load(); //开启loading
                },
                done: function(res, index, upload){
                    if(res.code == 0){
                        $('#selectWechatReadFileTitle').text("待解析："+res.message);
                        $('#selectWechatReadFileTitle')[0].dataset.path = res.data;
                        $('#resolverImportWechatReadFile')[0].classList.remove("layui-btn-disabled");
                        $('#resolverImportWechatReadFile')[0].removeAttribute("disabled");
                        form.render();
                    }
                    layer.closeAll('loading'); //关闭loading
                },
                error: function(index, upload){
                    layer.closeAll('loading'); //关闭loading
                }
            });
            loadWechatReadAdminTable();
            form.render();
        })

        function loadWechatReadAdminTable(){
            var param = form.val('wechatReadAdminScreeCond');
            table.render({
                elem: '#wechatReadAdminTable'
                ,height: 700
                ,where: param
                ,method:'post'
                ,url: 'http://localhost:8080/wechat-model-controller/wechat_read_admin/findAllReadData'
                ,page: true
                ,limit:20
                ,cols: [[
                    {width:80,type:"checkbox"}
                    ,{field: 'id', title: 'ID', width:80, sort: true,hide: true}
                    ,{field: 'title', title: '文章标题', width:100}
                    ,{field: 'read_url', title: '阅读文章链接', width:160}
                    ,{field: 'create_time', title: '创建时间', width:160}
                    ,{field: 'client_name', title: '客户名称', width:120}
                    ,{field: 'read_num', title: '阅读数量', width:100, edit:'text'}
                    ,{field: 'target_num', title: '目标数量', width:100, edit:'text'}
                    ,{field: 'read_data_state', title: '数据开关', width:100, templet:function (o) {
                            return o.read_data_state == 1 ? '<input type="checkbox" name="wechatReadDataState" lay-filter="wechatReadDataState" lay-skin="switch" data-id="'+o.id+'" lay-text="开启|关闭" checked>':'<input type="checkbox" name="wechatReadDataState" lay-filter="wechatReadDataState" lay-skin="switch" data-id="'+o.id+'" lay-text="开启|关闭">';
                        }}
                    ,{field: 'read_data_is_get_time', title: '数据可取时间', width:160}
                    ,{field: 'data_type', title: '数据类型', width:100, templet:function(o){
                            return o.data_type == 1 ? "系统" : "外部";
                        }}
                    ,{field: 'remark', title: '备注', width:100}
                ]]
            });

            table.on('edit(wechatReadAdminTable)', function(obj){
                if(!obj.value){
                    layer.msg("输入值错误！");
                    return;
                }
                var param = {
                    value:obj.value,
                    name:obj.field,
                    id:obj.tr[0].children[1].firstChild.innerText
                };
                layer.load(2); // 开启loading
                $.ajax({
                    datatype:'json',
                    url:"http://localhost:8080/wechat-model-controller/wechat_read_admin/updReadData",
                    data:param,
                    traditional:true, // 防止深度序列化参数
                    type:'post',
                    success:function(obj){
                        if(obj.code == 1)
                            layerzk.open(windowObj,{bakcgroundColor:'#009688',msg:obj.message,icoCode:'&#xe605;'},3000);
                        else
                            layerzk.open(windowObj,{bakcgroundColor:'#f44336d4',msg:obj.message,icoCode:'&#xe67e;'},5000);
                        clickLayuiTableBtn('wechatReadAdminTable');
                        layer.closeAll('loading'); //关闭loading
                    }
                });
            });
        }

        // 监听阅读数据开关
        form.on('switch(wechatReadDataState)', function(data){
            var param = {
                id:[data.elem.dataset.id],
                state:data.elem.checked ? 1 : 0
            }
            layer.load(2); // 开启loading
            $.ajax({
                datatype:'json',
                url:"http://localhost:8080/wechat-model-controller/wechat_read_admin/updReadDataOnOffState",
                data:param,
                traditional:true, // 防止深度序列化参数
                type:'post',
                success:function(obj){
                    if(obj.code == 1)
                        layerzk.open(windowObj,{bakcgroundColor:'#009688',msg:obj.message,icoCode:'&#xe605;'},3000);
                    else
                        layerzk.open(windowObj,{bakcgroundColor:'#f44336d4',msg:obj.message,icoCode:'&#xe67e;'},5000);
                    clickLayuiTableBtn('wechatReadAdminTable');
                    layer.closeAll('loading'); //关闭loading
                }
            });
        });

        function importWechatRead(){
            $.ajax({
                datatype:'html',
                url:"/wechat_read_import",
                type:'get',
                async: false,
                success:function(obj){
                    layer.open({
                        title: '解析文章阅读配置项',
                        anim: mathLayuiAnim(),
                        skin: 'layerzk-normal',
                        area:'600px',
                        btn: false,
                        shadeClose: true,
                        content: obj,
                    });
                }
            });
        }

        function delWechatRead(i){
            var checkStatus = table.checkStatus('wechatReadAdminTable');
            if(checkStatus.data.length <= 0){
                layer.tips('未勾选数据！', i, {
                    tips: [1, '#f44336d4'],
                    time: 4000
                });
            }else{
                layer.open({
                    title: '<i class="iconfont">&#xe642;</i>删除阅读数据',
                    anim: mathLayuiAnim(),
                    btn: ["确认"],
                    yes: function(index, layero){
                        var param = {ids:[]};
                        checkStatus.data.forEach(function (val) {
                            param.ids.push(val.id);
                        });
                        layer.load(2); // 开启loading
                        $.ajax({
                            datatype:'json',
                            url:"http://localhost:8080/wechat-model-controller/wechat_read_admin/delReadData",
                            data:param,
                            traditional:true, // 防止深度序列化参数
                            type:'post',
                            success:function(obj){
                                if(obj.code == 1)
                                    layerzk.open(windowObj,{bakcgroundColor:'#009688',msg:obj.message,icoCode:'&#xe605;'},3000);
                                else
                                    layerzk.open(windowObj,{bakcgroundColor:'#f44336d4',msg:obj.message,icoCode:'&#xe67e;'},5000);
                                clickLayuiTableBtn('wechatReadAdminTable');
                                layer.close(index);
                                layer.closeAll('loading'); //关闭loading
                            }
                        });
                    },
                    success: function(layero, index){
                        layero[0].children[1].style.textAlign = 'center';
                    },
                    shadeClose: true,
                    content: "是否确定删除选中阅读数据？"
                });
            }
        }

        function addWechatReadTask(){
            $.ajax({
                datatype:'html',
                url:"/add_wechat_read_task",
                type:'get',
                async: false,
                success:function(obj){
                    layer.open({
                        title: '添加阅读任务',
                        anim: mathLayuiAnim(),
                        skin: 'layerzk-normal',
                        area:'600px',
                        btn: false,
                        shadeClose: true,
                        content: obj,
                    });
                }
            });
        }
    </script>
</body>
</html>